@import models.MQDestination

@(destinationName: String, destinationType: String, mqDestinatinList: LinkedList[MQDestination])

@adminlte("OpenMQ Monitor") {

    @if(flash.get("message")) {
        <div class="callout callout-warning callout-dismissable">
            <i class="fa fa-warning"></i>
            @flash.get("message")
        </div>
    }
            <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@destinationName Graph <small>@destinationType</small></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="areaChart" style="height: 249px; width: 553px;" width="1106" height="498"></canvas>
                </div>
            </div>
                <!-- /.box-body -->
        </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">@destinationName Data <small>@destinationType</small></h3>
        </div>
        @if(mqDestinatinList.isEmpty()) {
            <div id="historyTable_wrapper" class="box-body">
                No data
            </div>
        } else {
            <div id="historyTable_wrapper" class="box-body dataTables_wrapper">
                <table id="historyTable" class="table table-striped table-hover dataTable" role="grid" aria-describedby="historyTable_info">
                    <thead>
                        <tr role="row">
                            <th>Time</th>
                            <th>State</th>
                            <th class="text-right">Total Producers</th>
                            @*<th class="text-right">Wildcard Producers</th>*@
                            <th class="text-right">Total Consumers</th>
                            <th class="text-right">Avg Size</th>
                            @*<th class="text-right">Wildcard Consumers</th>*@
                            <th class="text-right">Count</th>
                            @*<th class="text-right">Remote Messages</th>*@
                            <th class="text-right">UnAck Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(mqDest <- mqDestinatinList) {
                            <tr role="row">
                                <td>@mqDest.time</td>
                                <td>@mqDest.state</td>
                                <td class="text-right">@mqDest.totalProducers</td>
                                @*<td class="text-right">@mqDest.wildcardProducers</td>*@
                                <td class="text-right">@mqDest.totalConsumers</td>
                                <td class="text-right">@mqDest.avgSize</td>
                                @*<td class="text-right">@mqDest.wildcardConsumers</td>*@
                                <td class="text-right">@mqDest.count</td>
                                @*<td class="text-right">@mqDest.remoteMessages</td>*@
                                <td class="text-right">@mqDest.unackMessages</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

}