@import models.AgentInfo, models.MQDestination

@(agentInfo: AgentInfo, mqDestinatinList: Collection[MQDestination], refreshMillis: Integer)

@adminlte("OpenMQ Monitor") {

    @if(flash.get("message")) {
        <div class="callout callout-warning callout-dismissable">
            <i class="fa fa-warning"></i>
            @flash.get("message")
        </div>
    }

    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Setup</h3>
        </div>
        <div class="box-body">

        <form role="form" method="post" action="@controllers.routes.Application.overview()">
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-group">
                        <label for="refreshMillis">Refresh ms (0 to disable)</label>
                        <input type="text" class="form-control" id="refreshMillis" value="@refreshMillis" name="refreshMillis" placeholder="Refresh Millis">
                    </div>
                </div>
                <div class="col-xs-4">
                    <br>
                    <button class="btn btn-primary" type="submit" name="refresh" value="Refresh">Refresh</button>
                    <button class="btn btn-default" type="submit" name="refreshReset" value="RefreshReset">Refresh &amp; Reset Counters</button>
                </div>
            </div>
        </form>

        </div>

    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Agent Information: @agentInfo.hostname:@agentInfo.port <small></small></h3>
        </div>
        @if(mqDestinatinList.isEmpty()) {
            <div id="example1_wrapper" class="box-body">
                No data
            </div>
        } else {
            <div id="example1_wrapper" class="box-body dataTables_wrapper">
                <table id="example1" class="table table-striped table-hover dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th>Name</th>
                            <th>Type</th>
                            <th>State</th>
                            <th class="text-right">Total Producers</th>
                            @*<th class="text-right">Wildcard Producers</th>*@
                            <th class="text-right">Total Consumers</th>
                            <th class="text-right">Avg Size</th>
                            @*<th class="text-right">Wildcard Consumers</th>*@
                            <th class="text-right">Count</th>
                            @*<th class="text-right">Remote Messages</th>*@
                            <th class="text-right">UnAck Messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(mqDest <- mqDestinatinList) {
                            <tr role="row">
                                <td><a href="@controllers.routes.Application.history(mqDest.name)">@mqDest.name</a></td>
                                <td>@mqDest.destType</td>
                                <td>@mqDest.state</td>
                                <td class="text-right">@mqDest.totalProducers</td>
                                @*<td class="text-right">@mqDest.wildcardProducers</td>*@
                                <td class="text-right">@mqDest.totalConsumers</td>
                                <td class="text-right">@mqDest.avgSize</td>
                                @*<td class="text-right">@mqDest.wildcardConsumers</td>*@
                                <td class="text-right">@mqDest.count</td>
                                @*<td class="text-right">@mqDest.remoteMessages</td>*@
                                <td class="text-right">@mqDest.unackMessages</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <script>
        if (@refreshMillis > 0) {
            window.setTimeout("location=('@routes.Application.overview()');", @refreshMillis);
        }
    </script>

}